* {
    margin: 0;
    padding: 0;
}
body {
    margin-left: 200px;
    padding: 20px;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    padding: 10px;
}
nav ul {
    list-style-type: none;
}