:root {
    --code-bg-color: lightgrey;
    --code-bg-radius: 4px;
}
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
main {
    margin-left: 270px;
    padding: 20px 30px 20px 20px;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100vh;
    border-right: 1px solid black;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav header {
    padding: 10px 30px;
}
nav ul {
    list-style-type: none;
}
#navbar ul li {
    border-top: 1px solid black;
    padding: 10px 30px;
}
#navbar a {
    text-decoration: none;
    color: black;
}
#signature {
    padding: 10px 30px;
}
i {
    margin-right: 4px;
    font-size: 1.2rem;
    color: blue;
}
header {
    font-size: 2rem;
}
header, p, ul {
    font-family: Arial, Helvetica, sans-serif;
}
section header {
    padding: 10px 0;
}
section * {
    margin: 10px 0;
}
section p {
    margin-left: 2%;
    line-height: 1.4rem;
}
section ul {
    margin-left: 50px;
}
.tag {
    background-color: var(--code-bg-color);
    border-radius: var(--code-bg-radius);
    padding: 2px 4px;
}
.tag::before {
    content: '<';
}
.tag::after {
    content: '>';
}
.code, pre {
    background-color: var(--code-bg-color);
    border-radius: var(--code-bg-radius);
    margin-left: 3%;
    line-height: 1.2rem;
}
pre {
    padding: 10px 20px;
    overflow: auto;
}
@media (max-width: 800px) {
    nav {
        position: static;
        width: 100vw;
        height: 250px;
        overflow: scroll;
        border-bottom: 2px solid black;
        border-right: none;
    }
    #signature {
        position: static;
    }
    nav ul {
        border-top: 2px solid black;
    }
    nav header {
        text-align: center;
    }
    main {
        margin: 0;
    }
}